{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>JoymailFake</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{%static 'css/main.css'%}" rel="stylesheet" />
    <script type ="text/javascript">
          var user = '{{request.user}}'
          function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getToken('csrftoken');
      </script>
  </head>
  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
      <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
          <div class="top-info ps-2">
            <small class="me-3"
              ><i class="fas fa-map-marker-alt me-2 text-secondary"></i>
              <a class="text-white">Km 10 Đ. Nguyễn Trãi, Thượng Đình, Hà Đông, Hà Nội</a></small
            >
            <small class="me-3"
              ><i class="fas fa-envelope me-2 text-secondary"></i
              ><a class="text-white">123@gmail.com</a></small
            >
          </div>
          <div class="top-link pe-2">
            <a class="text-white"
              ><small class="text-white mx-2">Privacy Policy</small>/</a
            >
            <a class="text-white"
              ><small class="text-white mx-2">Terms of Use</small>/</a
            >
            <a class="text-white"
              ><small class="text-white ms-2">Sales and Refunds</small></a
            >
          </div>
        </div>
      </div>
      <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
          <a class="navbar-brand"
            ><h1 class="text-primary display-6">Joymail</h1></a
          >
          <button
            class="navbar-toggler py-2 px-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars text-primary"></span>
          </button>
          <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Trang chủ</a>
              <a class="nav-item nav-link" href="{% url 'shop' %}">Cửa hàng</a>
              <div class="nav-item dropdown">
                <a
              
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Danh mục</a
                >
                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                  {% for category in categories %}
                  <li><a class="dropdown-item" href="{% url 'category' %}?category={{ category.slug }}">{{ category.name }}</a></li>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="d-flex m-3 me-0">
  
              <form class="d-flex" role="search" method = POST action ="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="searched" value="{{ searched }}"style="width: 150px;">
                <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" type="submit">
                <i class="fas fa-search text-primary"></i>
                </button>     
              </form>
              
              
              <a href="{% url 'cart' %}" class="position-relative me-4 my-auto" style = "visibility: {{user_login}}">
                <i class="fa fa-shopping-bag fa-2x" ></i>
                <span
                  class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                  style="top: -5px; left: 15px; height: 20px; min-width: 20px"
                  >{{cartItems}}</span
                >
              </a>
              <a class="my-auto">
                <i class="fas fa-user fa-2x"></i>
              </a>
              <div class="form-inline my-2 my-lg-0" style = "visibility: {{user_login}}">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span> Hello! {{request.user}}
                    </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="#">Thanh toán</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a></li>
                  </ul>
                </li>
              </div>
              <div class="form-inline my-2 my-lg-0" style = "visibility: {{user_not_login}}">
                <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
              </div>
              <div class="form-inline my-2 my-lg-0" style = "visibility: {{user_not_login}}">
                <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

      {% block main-content %}{% endblock main-content %}
      {% block shop-content %}{% endblock shop-content %}
      {% block login_content %}{% endblock login_content %}
      {% block register_content %}{% endblock register_content %}
      {% block cart_content %}{% endblock cart_content %}
      {% block search_content %}{% endblock search_content %}
      {% block content_checkout %}{% endblock content_checkout %}
      {% block category_content %}{% endblock category_content %}

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
      <div class="container py-5">
        <div
          class="pb-4 mb-4"
          style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)"
        >
          <div class="row g-4">
            <div class="col-lg-3">
              <a >
                <h1 class="text-primary mb-0">JoymailFake</h1>
                <p class="text-secondary mb-0">Đồ gia dụng</p>
              </a>
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-3">
              <div class="d-flex justify-content-end pt-3">
                <a
                  class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                  href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                  href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                  class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                  href=""
                  ><i class="fab fa-youtube"></i
                ></a>
                <a
                  class="btn btn-outline-secondary btn-md-square rounded-circle"
                  href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="text-light mb-3">Nhóm 5 Ứng dụng CSDL</h4>
              <p class="mb-4">
                Nguyễn Hoàng Nguyên -B21DCTC012
              </p>
              <a
                href=""
                class="btn border-secondary py-2 px-4 rounded-pill text-primary"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-center">
          <!-- Embedded YouTube Video -->
            <div class="embed-responsive embed-responsive-16by9" style="width: 100%;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/hpdcSx33CRY?si=b3EkJXExgbHB_vIv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="text-light mb-3">Contact</h4>
              <p>Address: 1429 Netus Rd, NY 48247</p>
              <p>Email: Example@gmail.com</p>
              <p>Phone: +0123 4567 8910</p>
              <img src="#" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <span class="text-light"
              ><a
                ><i class="fas fa-copyright text-light me-2"></i>Joymail</a
              >, All right reserved.</span
            >
          </div>
          <div class="col-md-6 my-auto text-center text-md-end text-white">
            <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
            <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
            <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
            Designed By
            <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
            Distributed By
            <a class="border-bottom" href="https://themewagon.com"
              >ThemeWagon</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
  </body>
</html>
