{% extends 'app/base.html' %} {% load static %} {% block content_checkout %}
<div class="col-lg-10">
  <div class="box-element">
    <a class="btn btn-outline-dark" href="{% url 'cart' %}"
      >&#x2190; Back to Cart</a
    >
    <hr />
    <h3>Order Summary</h3>
    <hr />
    {% for item in items %}
    <div class="cart-row">
      <div style="flex: 2">
        <img class="row-image" src="{{item.product.image.url}}" />
      </div>
      <div style="flex: 2"><p>{{item.product.name}}</p></div>
      <div style="flex: 1"><p>{{item.product.price}}</p></div>
      <div style="flex: 1"><p>{{item.product.quantity}}</p></div>
    </div>
    {% endfor %}
    <h5>Items: {{order.get_cart_items}}</h5>
    <h5>Total: {{order.get_cart_total}}</h5>
    <hr />
  <form action="{% url 'process_order' %}" method="post">
    {% csrf_token %}

    <button type="submit" >Tiếp tục</button>
  </form>
  </div>
</div>

{% endblock content_checkout %}
